Imports System.Runtime.CompilerServices
Imports System.Media
Imports System.Net.Security
Public Class Form1
    Dim Bln As Boolean = False
    Private Sub BtnCalculate_Click(sender As Object, e As EventArgs) Handles btnCalculate.Click
        'Declare our variables
        Dim ServicesCharges As Decimal = 0 'Services charges
        Dim AddServicesCharges As Decimal = 0 'Additional Services charges
        Dim decSubTotal, decTax, decTotal As Decimal
        Const decTAX_RATE As Decimal = 0.08D 'Tax Rate

        'Calculate and add the Services charges
        If chkOil.Checked Then
            ServicesCharges += 50
        End If

        If chkTrans.Checked Then
            ServicesCharges += 60
        End If

        If chkTire.Checked Then
            ServicesCharges += 20
        End If

        If chkWheel.Checked Then
            ServicesCharges += 50
        End If

        If chkFuel.Checked Then
            ServicesCharges += 25
        End If

        If chkCoolant.Checked Then
            ServicesCharges += 30
        End If

        'Calculate and add the Additional Services charges
        If chkWind.Checked Then
            AddServicesCharges += 30
        End If

        If chkCabin.Checked Then
            AddServicesCharges += 30
        End If

        If chkEngine.Checked Then
            AddServicesCharges += 25
        End If

        If chkHead.Checked Then
            AddServicesCharges += 25
        End If

        If chkAC.Checked Then
            AddServicesCharges += 60
        End If

        If chkFlat.Checked Then
            AddServicesCharges += 15
        End If


        'Calculate and display the Services charges 
        lblServicesCharges.Text = ServicesCharges.ToString("C")
        'Calculate and display the Additional Services charges
        lblAddServicesCharges.Text = AddServicesCharges.ToString("c")

        'Calculate and display the subtotal
        decSubTotal = ServicesCharges + AddServicesCharges
        lblSubtotal.Text = decSubTotal.ToString("c")

        'Calculate and display the tax
        decTax = decSubTotal * decTAX_RATE
        lblTax.Text = decTax.ToString("c")

        'Calculate and display the total charges
        decTotal = decSubTotal + decTax
        lblTotal.Text = decTotal.ToString("c")

        'Change the colors for the total charges
        lblTotal.BackColor = Color.Red
        lblTotal.ForeColor = Color.White

        'Play audio when Calculate button is pressed 'NOTE: might have to change audio path based where the project folder is stored.
        'My.Computer.Audio.Play("C:\Users\stc118\Desktop\FinalProjectAssignment - Damian,Brent\Audio\Car Rev.wav")
        My.Computer.Audio.Play(My.Resources.car, AudioPlayMode.WaitToComplete)
        'Start car animation
        Timer1.Start()
    End Sub
    Private Sub Timer1_Tick(sender As Object, e As EventArgs) Handles Timer1.Tick
        'Move the car to the right
        picCar.Left += 35 ' Adjust the value based on the desired speed

        'Check if the car has reached the right edge of the form
        If picCar.Left + picCar.Width >= Me.Width Then
            'Stop the timer and reset the car position
            Timer1.Stop()
            picCar.Left = -picCar.Width
        End If
    End Sub
    Private Sub btnExit_Click(sender As Object, e As EventArgs) Handles btnExit.Click
        'Exit button will close the form
        Me.Close()
    End Sub
    Private Sub btnClear_Click(sender As Object, e As EventArgs) Handles btnClear.Click
        'Clear results in Services Group Box
        chkOil.Checked = False
        chkTrans.Checked = False
        chkTire.Checked = False
        chkWheel.Checked = False
        chkFuel.Checked = False
        chkCoolant.Checked = False

        'Clear results in Additional Services Group Box
        chkWind.Checked = False
        chkCabin.Checked = False
        chkEngine.Checked = False
        chkHead.Checked = False
        chkAC.Checked = False
        chkFlat.Checked = False

        'Clear results in Total Charges Group Box
        lblServicesCharges.Text = ""
        lblAddServicesCharges.Text = ""
        lblSubtotal.Text = ""
        lblTax.Text = ""
        lblTotal.Text = ""

    End Sub

    Private Sub Form1_Load(sender As Object, e As EventArgs) Handles MyBase.Load
        'Get today's date from the system and display it.
        lblDateToday.Text = Now.ToString("D")
        'Get the current time from the system and display it.
        lblTimeToday.Text = Now.ToString("T")
    End Sub

    Private Sub btnDN_Click(sender As Object, e As EventArgs) Handles btnDN.Click
        'Change the color of the Form
        Me.BackColor = Color.Black
        'Toggle between Dark & Light mode
        If Bln = False Then
            Me.BackColor = Color.Black
            Me.ForeColor = Color.White
            Bln = True
        Else
            Me.BackColor = Color.White
            Me.ForeColor = Color.Black
            Bln = False
        End If
    End Sub

    Private Sub btnPay_Click(sender As Object, e As EventArgs) Handles btnPay.Click
        Dim newProcess = New Process()
        newProcess.StartInfo.UseShellExecute = True
        newProcess.StartInfo.FileName = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        newProcess.Start()
    End Sub
End Class

